# Node modules folder
node_modules/

# Environment variables file
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Ignore OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# Optional: Ignore build files if you're using a frontend build tool (like Webpack, etc.)
dist/
build/
